<config>
	<!-- mysql jdbc-->
	<dataBaseDrive>com.mysql.jdbc.Driver</dataBaseDrive>
	<dataBaseConnectStr>jdbc:mysql://192.168.1.100:3306/abel_finance</dataBaseConnectStr>
	<dataBaseName>root</dataBaseName>
	<dataBasePassword>123456</dataBasePassword>
	
	<!-- 表名 -->
	<tableName>chain_sync_info</tableName>
	<!-- 实体类名 -->
	<modelName>ChainSyncInfo</modelName>
	
	<!-- 实体bean包名-->
	<entityPackage>com.abel.model.finance</entityPackage>
	<!-- mapper包名-->
	<daoPackage>com.abel.finance.dao</daoPackage>
	<!-- service包名-->
	<servicePackage>com.abel.finance.service</servicePackage>
	<!-- controller包名-->
	<controllerPackage>com.abel.finance.controller</controllerPackage> 
	
	<!-- 使用模版配置 -->
	<serviceTemplate>service.ftl</serviceTemplate>
	<serviceImplTemplate>serviceImpl.ftl</serviceImplTemplate>
	<controllerTemplate>controller.ftl</controllerTemplate>
	<daoTemplate>dao.ftl</daoTemplate>
	<entityTemplate>entity.ftl</entityTemplate>
	<sqlTemplate>sql.ftl</sqlTemplate>
	<daoSuffix>Mapper</daoSuffix>
	<showSqlFolder>false</showSqlFolder>
	<!-- 开发人 -->
	<author>刘辉</author>
	
</config>