<config>
	<!-- mysql jdbc-->
	<dataBaseDrive>com.mysql.jdbc.Driver</dataBaseDrive>
	<dataBaseConnectStr>jdbc:mysql://172.16.16.8:3306/scp_biz</dataBaseConnectStr>
	<dataBaseName>scp</dataBaseName>
	<dataBasePassword>Zx-18116</dataBasePassword>
	
	<!-- 表名 -->
	<tableName>tms_logistics_notice</tableName>
	<!-- 实体类名，如生成文件名:CodeGen.java、CodeGenMapper.java -->
	<modelName>LogisticsNotice</modelName>
	
	<!-- 实体bean包名-->
	<entityPackage>com.cis.abel.scp.tms.domain</entityPackage>
	<!-- vo包名-->
	<voPackage>com.cis.abel.scp.tms.vo</voPackage>
	<!-- dto包名-->
	<dtoPackage>com.cis.abel.scp.tms.dto</dtoPackage>
	<!-- mapper包名-->
	<daoPackage>com.cis.abel.scp.tms.mapper</daoPackage>
	<!-- service包名-->
	<servicePackage>com.cis.abel.scp.tms.service</servicePackage>
	<!-- controller包名-->
	<controllerPackage>com.cis.abel.scp.tms.controller</controllerPackage> 
	
	<!-- 使用模版配置 -->
	<serviceTemplate>service.ftl</serviceTemplate>
	<serviceImplTemplate>serviceImpl.ftl</serviceImplTemplate>
	<controllerTemplate>controller.ftl</controllerTemplate>
	<daoTemplate>dao.ftl</daoTemplate>
	<entityTemplate>entity.ftl</entityTemplate>
	<voTemplate>vo.ftl</voTemplate>
	<dtoTemplate>dto.ftl</dtoTemplate>
	<sqlTemplate>sql.ftl</sqlTemplate>
	<daoSuffix>Mapper</daoSuffix>
	<showSqlFolder>false</showSqlFolder>
	<!-- 开发人 -->
	<author>刘辉</author>
	
</config>